                    * {
                        box-sizing: border-box;
                    }
                    
                    .bloc {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        background-color: rgb(243, 247, 245);
                        border-bottom: 2px solid black;
                        border-top: 1px solid red;
                    }
                    
                    #sectiongauche {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: 10px;
                    }
                    
                    #sectionmilieu {
                        display: grid;
                        grid-gap: 40px;
                        grid-auto-flow: column;
                        align-items: center;
                    }
                    
                    #sectiondroite {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: 10px;
                    }
                    
                    .items {
                        width: 60px;
                        height: 60px;
                        background-color: yellow;
                    }